.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttonContainer {
  margin: 10px;
}

.progressBarContainer {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
  margin: 20px 0;
}

.progressBar {
  height: 100%;
  background-color: #76c7c0;
  transition: width 0.5s ease; /* Animation for progress bar */
}
